<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="keywords" content="the nomad hackers, Abhishek Roka, the nomad hacker, The Nomad Hacker, abhishek roka, python developer portfolio">
    <meta name="description" content="Hi, I'm Abhishek Roka, The Nomad Hacker. This is my portfolio page, where you will know about me and my projects.">
    <meta name="robots" content="index, follow">
    
    <title>{% block title %}{% endblock title %}</title>
    {% block pageneeds %}{% endblock pageneeds %}
    
    

    {% block styles %}{% endblock styles %}
</head>

<body>
    {% block content %}{% endblock content %}
    {% block pagescripts %}{% endblock pagescripts %}


</body>

</html>